<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HearMeOut | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="">
                <h1>The only blogpost you wanna listen to</h1>
            </a>
            <p>Why  does everyone seem to care, me I don't</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>

    <div class="create-blog_content">
        <form action="">
            <label for="title">Blog Title</label>
            <input type="text"id='title'required>
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snippet" required>
            <label for="body">Blog Body</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Publish</button>
        </form>
    </div>

</body>
</html>